$bg: #242424;
$text: #fff;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


html {
    margin:0;
    padding:0;
    body {
        margin:0;
        padding:0;
    }
}

#app {
    font-family: 'PT Sans', sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    color: $text;
    background:$bg;
    img.logo {
        width:50px;
        height:auto;
    }
}

.flex-column-center {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}